<div class="author">
    <h1 class="author__heading">Hi, I am Sai.</h1>
    <p class="author__body">Web developer and prompt engineer.</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out throug window" class="hero-image" width="981" height="528">

<section class="articles">
    <he class="articles__heading">Latest Posts</he>

    <ul class="article-ul">

        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>

        <% }) %>

        <% if (nextPage !== null) { %>
            <a href="/?page=<%= nextPage %>" class="pagination">&lt; view Older posts</a>
        <% } %>

    </ul>

</section>